<div class="row">
			<div class="col-xs-6">
				<label for="startDate" class="metabox-color">Start Date</label>
				<p class="input-group">
				<input name="startDate" type="text" class="form-control" datepicker-popup="dd-MM-yyyy" is-open="valuationDatePickerIsOpen" ng-click="valuationDatePickerOpen()" ng-model="valuationDate" />
				<span class="input-group-addon" ng-click="valuationDatePickerOpen()">
					<i class="glyphicon glyphicon-calendar" aria-hidden="true"></i>
				</span>
				</p>
			</div>

			<div class="col-xs-6">
				<label for="endDate" class="metabox-color">End Date</label>
				<p class="input-group">
				<input name="endDate" type="text" class="form-control" datepicker-popup="dd-MM-yyyy" is-open="valuationDatePickerIsOpen2" ng-click="valuationDatePickerOpen2()" ng-model="valuationDate2" />
				<span class="input-group-addon" ng-click="valuationDatePickerOpen2()">
					<i class="glyphicon glyphicon-calendar" aria-hidden="true"></i>
				</span>
				</p>
			</div>
		</div>

		<!--
		angular

		$scope.valuationDatePickerIsOpen = false;
		$scope.valuationDatePickerIsOpen2 = false;
		$scope.valuationDatePickerOpen = function ($event) {
			if ($scope.valuationDatePickerIsOpen) {
				$scope.valuationDatePickerIsOpen = false;
			}else{
				$scope.valuationDatePickerIsOpen = true;
			}
		};

		$scope.valuationDatePickerOpen2 = function ($event) {
			if ($scope.valuationDatePickerIsOpen2) {
				$scope.valuationDatePickerIsOpen2 = false;
			}else{
				$scope.valuationDatePickerIsOpen2 = true;
			}
		};

		-->