body{
	background-color: #F4FA58;
	font-family: fuente;
	font-size: 16pt;
}
@font-face {
    font-family: titulo;
    src: url('../fonts/Jack Frost.otf');
}
@font-face {
    font-family: menu;
    src: url('../fonts/Original Woody.ttf');
}
@font-face {
    font-family: fuente;
    src: url('../fonts/Urban Elegance Bold.ttf');
}
section{
	width: 90%;
	margin: auto;
}
a:hover{
	text-decoration: none;
}

/*NavBar*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	color:black !important;
	background-color: #cbcc0c;
	font-weight: bold;
	font-family: menu;
}
.navbar-custom{
	background-color: green;
}
.navbar-default .navbar-nav>li>a {
    color: white !important;
    font-family: menu;
}
.navbar-brand{
	padding: 5px;
	width: 100px;
}
#bs-example-navbar-collapse-1 > ul{
	margin-bottom: 0px !important;
}

/*LOGIN*/
#formularioLogin{
	width: 60%;
	margin: auto;
	border: 1px solid black;
	padding: 35px;
	border-radius: 25px;
	background-color: #D8D8D8;
}
h1{
	margin: auto;
	text-align: center;
	font-family: titulo !important;
}
#submitButton{
	width: 100%;
	margin-top: 25px;
}
#numero, #password, #nombre, #apellido, #correo, #telefono{
	margin-top: 5px;
	margin-bottom: 20px;
}

/*CONFIG*/
.configTitle{
	float:left;
	margin-right: 5px;
	margin-bottom: 15px;
	font-weight: bold;
}
#anadirCuota{
	height: 200px;
	margin-bottom: 50px;
	background-image: url("../img/papel.jpg");
}

/*INFORMES*/
#ticketDiv{
	background-color: white;
	padding: 20px;
	margin-top: 20px;
	border-radius: 15px;
	background-image: url("../img/papel.jpg");
}
#startDiv, #endDiv{
	margin-bottom: 10px;
}
#ticketDiv > button{
	margin-bottom: 50px;
}

/*SOCIOS*/
.debe{
	color:red;
}
.noDebe{
	color:green;
}




