<section>
<h1 class="h1">Anadir SOCIO</h1>
<form id="formularioAddSocio" name="formularioAddSocio" class="form-group" ng-submit="addSocio(socio)" novalidate>

<!--user type-->
	<div class="form-group" ng-class="{'has-error':formularioAddSocio.tipo.$invalid && formularioAddSocio.tipo.$dirty}">
		<label for="tipo" class="label label-info" id="tipo">Tipo: </label>
		<select class="form-control" name="tipo" id="tipo" ng-model="socio.tipo" ng-required="true">
			<option value="" selected disabled="">Selecciona</option>
			<option ng-repeat="tipo in tiposUsuarios" value="{{tipo}}">{{tipo.toUpperCase()}}</option>
		</select>
	</div>
<!---->

<!--user name-->
	<div class="form-group" ng-class="{'has-error':formularioAddSocio.nombre.$invalid && formularioAddSocio.nombre.$dirty}" ng-if="socio.tipo">
		<label for="nombre" class="label label-info">Nombre: </label>
		<input type="text" name="nombre" id="nombre" class="form-control" ng-model="socio.nombre" ng-required="true" minlength="3" placeholder="Nombre">
	</div>
<!---->

<!--user lastname-->
	<div class="form-group" ng-class="{'has-error':formularioAddSocio.apellido.$invalid && formularioAddSocio.apellido.$dirty}" ng-if="socio.nombre">
		<label for="apellido" class="label label-info">Apellido: </label>
		<input type="text" name="apellido" id="apellido" class="form-control" ng-model="socio.apellido" minlength="3" placeholder="Apellido">
	</div>
<!---->

<!--user number-->
	<div class="form-group" ng-class="{'has-error':formularioAddSocio.numero.$invalid && formularioAddSocio.numero.$dirty}" ng-if="socio.nombre">
		<label for="numero" class="label label-info">Numero: </label>
		<input type="number" name="numero" id="numero" class="form-control" ng-model="socio.numero" ng-required="true" maxlength="3" placeholder="Numero">
	</div>
<!---->

<!--user dni-->
	<div class="form-group" ng-class="{'has-error':formularioAddSocio.dni.$invalid && formularioAddSocio.dni.$dirty}" ng-if="socio.numero">
		<label for="dni" class="label label-info" id="dni">DNI: </label>
		<input type="text" name="dni" id="dni" class="form-control" ng-model="socio.dni" ng-required="true" maxlength="9" placeholder="00000000A">
	</div>
<!---->

<!--user email-->
	<div class="form-group" ng-class="{'has-error':formularioAddSocio.correo.$invalid && formularioAddSocio.correo.$dirty}" ng-if="socio.dni">
		<label for="correo" class="label label-info">Correo: </label>
		<input type="email" name="correo" id="correo" class="form-control" ng-model="socio.correo" ng-required="true" placeholder="Correo">
	</div>
<!---->

<!--user telephon-->
	<div class="form-group" ng-class="{'has-error':formularioAddSocio.telefono.$invalid && formularioAddSocio.telefono.$dirty}" ng-if="socio.correo">
		<label for="telefono" class="label label-info">Telefono: </label>
		<input type="number" name="telefono" id="telefono" class="form-control" value="{{socio.telefono}}" ng-model="socio.telefono" placeholder="Telefono">
	</div>
<!---->

<!--user password-->
	<div class="form-group" ng-class="{'has-error':formularioAddSocio.password.$invalid && formularioAddSocio.password.$dirty}" ng-if="socio.correo">
		<label for="password" class="label label-info">Password: </label>
		<input type="password" name="password" id="password" class="form-control" value="{{socio.password}}" ng-model="socio.password" placeholder="Password">
	</div>
<!---->

<!--submit button-->
	<input type="submit" name="submit" style="width:100%;margin-bottom:10px;" class="btn btn-primary" value="Crear" ng-disabled="formularioAddSocio.$invalid">
<!---->

<!--cancel button-->
	<button class="btn btn-warning" ng-click="cancelar()" style="width:100%">Cancelar</button>
<!---->
<span></span>
</form>
</section>