<section>
<h1 class="h1">almacen</h1>
<!--AÑADIR stock-->
<form id="formularioStock" name="formularioStock" class="form-group" ng-submit="updateStock(producto)" novalidate ng-show="productos && tipos && subtipos && variedades">
	<h3 style="float:left">Añadir stock</h3><button class="btn btn-primary" ng-click="showFilter = !showFilter" style="clear:left;margin-top:17px;margin-left:10px;margin-bottom:10px"><i class="glyphicon glyphicon-filter"></i></button>
	<!--<label for="ambito" class="label label-info">Ambito: </label>
	<div class="form-group">
		<select class="form-control" ng-model="producto.ambito" name="ambito" id="ambito">
			<option value="" selected disabled>Selecciona</option>
			<option ng-repeat="ambito in ambitos" value="{{ambito.nombre}}">{{ambito.nombre}}</option>
		</select>
	</div>-->
<!--tag to hide filters-->
	<div id="filtroDiv" ng-show="showFilter">
<!---->

<!--product type-->
		<div class="form-group">
			<label for="tipo" class="label label-info">Tipo: </label>
			<select class="form-control" ng-model="tipo" name="tipo" id="tipo">
				<option value="" selected disabled>Selecciona</option>
				<!--<option ng-repeat="tipo in tipos | filter: producto.ambito" value="{{tipo._id}}">{{tipo.nombre.toUpperCase()}}</option>-->
				<option ng-repeat="tipo in tipos" value="{{tipo._id}}">{{tipo.nombre.toUpperCase()}}</option>
			</select>
		</div>
<!---->

<!--product subtype-->
		<div class="form-group">
			<label for="subtipo" class="label label-info">Subtipo: </label>
			<select class="form-control" ng-model="subtipo" name="subtipo" id="subtipo">
				<option value="" selected>Selecciona</option>
				<option ng-repeat="subtipo in subtipos | filter: tipo" value="{{subtipo._id}}">{{subtipo.nombre.toUpperCase()}}</option>
			</select>
		</div>
<!---->

<!--product variety-->
		<div class="form-group">
			<label for="variedad" class="label label-info">Variedad: </label>
			<select class="form-control" ng-model="variedad" name="variedad" id="variedad">
				<option value="" selected>Selecciona</option>
				<option ng-repeat="variedad in variedades | filter: tipo | filter: subtipo" value="{{variedad._id}}">{{variedad.nombre.toUpperCase()}}</option>
			</select>
		</div>
	</div>
<!---->

<!--product-->
	<div class="form-group">
	<label for="producto" class="label label-info">Producto: </label>
		<select class="form-control" ng-model="producto.producto" name="producto" id="producto">
			<option value="" selected disabled>Selecciona</option>
			<option ng-repeat="producto in productos | filter: tipo | filter: subtipo | filter: variedad" value="{{producto._id}}">{{producto.nombre.toUpperCase()}}</option>
		</select>
	</div>
<!---->

<!--product quantity-->
	<div class="form-group" ng-show="producto.producto">
		<label for="cantidad" class="label label-info">Cantidad a añadir: </label>
		<input type="number" name="cantidad" id="cantidad" class="form-control" min="1" ng-model="producto.cantidad">
	</div>
<!---->

<!--submit button-->
	<input type="submit" name="submit" class="btn btn-primary" value="Añadir Stock" ng-disabled="!producto.cantidad" style="width:100%;margin-bottom:10px">
<!---->

<!--cancel button-->
	<a class="btn btn-warning" href="#/productos" style="width:100%">Cancelar</a>
<!---->
</form>
<!---->


<!--AJUSTE INVENTARIO-->
<form id="formularioStockAjuste" name="formularioStockAjuste" class="form-group" ng-submit="ajusteStock(productoAjuste)" novalidate ng-show="productos && tipos && subtipos && variedades">
	<h3 style="float:left">Ajuste stock</h3><button class="btn btn-primary" ng-click="showFilter2 = !showFilter2" style="clear:left;margin-top:17px;margin-left:10px;margin-bottom:10px"><i class="glyphicon glyphicon-filter"></i></button>
	<!--<label for="ambito" class="label label-info">Ambito: </label>
	<div class="form-group">
		<select class="form-control" ng-model="productoAjuste.ambito" name="ambito" id="ambito">
			<option value="" selected disabled>Selecciona</option>
			<option ng-repeat="ambito in ambitos" value="{{ambito.nombre}}">{{ambito.nombre}}</option>
		</select>
	</div>-->

<!--tag to hide filters-->
	<div id="filtroDiv" ng-show="showFilter2">
<!---->

<!--product type-->
		<div class="form-group">
			<label for="tipo" class="label label-info">Tipo: </label>
			<select class="form-control" ng-model="tipo2" name="tipo" id="tipo">
				<option value="" selected disabled>Selecciona</option>
				<!--<option ng-repeat="tipo in tipos | filter: productoAjuste.ambito" value="{{tipo._id}}">{{tipo.nombre.toUpperCase()}}</option>-->
				<option ng-repeat="tipo in tipos" value="{{tipo._id}}">{{tipo.nombre.toUpperCase()}}</option>
			</select>
		</div>
<!---->

<!--product subtype-->
		<div class="form-group">
			<label for="subtipo" class="label label-info">Subtipo: </label>
			<select class="form-control" ng-model="subtipo2" name="subtipo" id="subtipo">
				<option value="" selected>Selecciona</option>
				<option ng-repeat="subtipo in subtipos | filter: tipo2" value="{{subtipo._id}}">{{subtipo.nombre.toUpperCase()}}</option>
			</select>
		</div>
<!---->

<!--product variety-->
		<div class="form-group">
			<label for="variedad" class="label label-info">Variedad: </label>
			<select class="form-control" ng-model="variedad2" name="variedad" id="variedad">
				<option value="" selected>Selecciona</option>
				<option ng-repeat="variedad in variedades | filter: tipo2 | filter: subtipo2" value="{{variedad._id}}">{{variedad.nombre.toUpperCase()}}</option>
			</select>
		</div>
	</div>
<!---->

<!--product-->
	<div class="form-group">
		<label for="productoAjuste" class="label label-info">Producto: </label>
		<select class="form-control" ng-model="productoAjuste.producto" name="productoAjuste" id="productoAjuste">
			<option value="" selected disabled>Selecciona</option>
			<option ng-repeat="producto in productos | filter: tipo2 | filter: subtipo2 | filter: variedad2" value="{{producto._id}}">{{producto.nombre.toUpperCase()}}</option>
		</select>
	</div>
<!---->

<!--product quantity-->
	<div class="form-group" ng-show="productoAjuste.producto">
		<label for="cantidad">Cantidad real: </label>
		<input type="number" name="cantidad" id="cantidad" class="form-control" min="0" ng-model="productoAjuste.cantidad">
	</div>
<!---->

<!--product observations-->
	<div class="form-group" ng-show="productoAjuste.producto">
		<label for="observaciones">Observaciones: </label>
		<textarea class="form-control" name="observaciones" id="observaciones" ng-model="productoAjuste.observaciones"></textarea>
	</div>
<!---->

<!--submit button-->
	<input type="submit" name="submit" class="btn btn-danger" value="Ajustar Inventario" ng-disabled="!productoAjuste.cantidad || !productoAjuste.observaciones" style="width:100%;margin-bottom:10px;">
<!---->

<!--cancel button-->
	<a class="btn btn-warning" href="#/productos" style="width:100%">Cancelar</a>
<!---->
</form>
<!---->
</section>