<section>
<div>
	<h1>INFORMES</h1>
	<div class="row">
		<div class="btn-group" style="width:100%">
			<label class="btn btn-default" ng-model="tipoInforme" btn-radio="'tri'" id="tri" ng-click="cambio('tri')">Trimestral
			</label>
			<label class="btn btn-default" ng-model="tipoInforme" btn-radio="'eus'" id="eus" ng-click="cambio('eus')">Eusfac
			</label>
			<label class="btn btn-default" ng-model="tipoInforme" btn-radio="'tic'" id="tic" ng-click="cambio('tic')">Tiquets
			</label>
		</div>
	</div>
	<!--
	TIKETS
	-->
	<div ng-if="tipoInforme == 'tic'" id="ticketDiv">
		<h3>Informe Tiquets</h3>
		<div class="col-xs-6" id="startDiv">
			<label for="startDate" class="label label-success">Fecha inicio</label>
			<div class="input-group date" data-provide="datepicker">
			    <input type="text" class="datepicker form-control" id="startDate" ng-model="startDate">
			    <div class="input-group-addon">
			        <span class="glyphicon glyphicon-th"></span>
			    </div>
			</div>
		</div>
		
		<div class="col-xs-6" id="endDiv">
			<label for="endDate" class="label label-success">Fecha fin</label>
			<div class="input-group date" data-provide="datepicker">
			    <input type="text" class="datepicker form-control" id="endDate" ng-model="endDate">
			    <div class="input-group-addon">
			        <span class="glyphicon glyphicon-th"></span>
			    </div>
			</div>
		</div>
		<label for="firmas" class="label label-success">Incluir firmas</label>
		<input type="checkbox" name="firmas" id="firmas" ng-model="firmas" class="form-control col-xs-2" style="width:10%">
		<button class="btn btn-primary" ng-click="crearPdf(firmas)" style="width:100%;margin-top:10px;">Crear Informe</button>
	</div>
	<!--
	FIN TIKETS
	-->

	<!--
	EUSFAC
	-->
	<div ng-if="tipoInforme == 'eus'" id="ticketDiv">
		<h3>Informe EUSFAC</h3>

	</div>
	<!--
	FIN EUSFAC
	-->

	<!--
	TRIMESTRAL
	-->
	<div ng-if="tipoInforme == 'tri'" id="ticketDiv">
		<h3>Informe Trimestral</h3>
		<div class="col-xs-6" id="startDiv">
			<label for="startDateTri" class="label label-success">Fecha inicio</label>
			<div class="input-group date" data-provide="datepicker">
			    <input type="text" class="datepicker form-control" id="startDateTri" ng-model="startDateTri">
			    <div class="input-group-addon">
			        <span class="glyphicon glyphicon-th"></span>
			    </div>
			</div>
		</div>
		
		<div class="col-xs-6" id="endDiv">
			<label for="endDateTri" class="label label-success">Fecha fin</label>
			<div class="input-group date" data-provide="datepicker">
			    <input type="text" class="datepicker form-control" id="endDateTri" ng-model="endDateTri">
			    <div class="input-group-addon">
			        <span class="glyphicon glyphicon-th"></span>
			    </div>
			</div>
		</div>
		<button class="btn btn-primary" ng-click="crearPdfTri()" style="width:100%;margin-top:10px;">Crear Informe</button>
	</div>
	<!--
	FIN TRIMESTRAL
	-->
</div>
</section>