<div id="containerFormulario" class="container-fluid form-group">
	<h1 class="h1">DISPENSA</h1>
	<form id="formularioDispensa" name="formularioDispensa" novalidate>
		<!--Numero socio-->
		<div class="form-group" ng-show="listaProductos == ''">
			<label for="numeroSocio" class="label label-default">Nº Socio: </label>
			<select class="form-control" ng-model="socio" name="numeroSocio">
				<option value="" selected disabled>Selecciona</option>
				<option ng-repeat="socio in socios" value="{{socio.numero}}">{{socio.numero}}</option>
			</select>
		</div>
		<div id="listaProductos">
			<p ng-repeat="(key,item) in listaProductos" ng-model="listaProductos">{{key+1}}: {{item.producto}} -:{{item.cantidad}}</p>
		</div>
		<!--Productos-->
		<label for="ticket" ng-show="socio" class="label label-default">Añadir producto</label>
		<div class="ticket" name="ticket" ng-show="socio">
			<div class="form-group">
				<select class="form-control" ng-model="ticket.tipo">
					<option value="" selected disabled>Selecciona</option>
					<option ng-repeat="tipo in tipos" value="{{tipo.tipo}}">{{tipo.tipo.toUpperCase()}}</option>
				</select>
			</div>
			<!---->
			<div class="form-group">
				<select class="form-control" ng-model="ticket.subtipo" ng-show="ticket.tipo">
					<option value="" selected disabled>Selecciona</option>
					<option ng-repeat="subtipo in subtipos | filter: ticket.tipo" value="{{subtipo.nombre}}">{{subtipo.nombre.toUpperCase()}}</option>
				</select>
			</div>
			<!---->
			<div class="form-group">
				<select class="form-control" ng-model="ticket.producto" ng-show="ticket.subtipo">
					<option value="" selected>Selecciona</option>
					<option ng-repeat="option in productos | filter: ticket.tipo | filter: ticket.subtipo" value="{{option.nombre}}">{{option.nombre}}</option>
				</select>
			</div>
			<div class="form-group" ng-class="{'has-error':formularioDispensa.cantidad.$invalid}">
				<input type="number" class="form-control" name="cantidad" ng-model="ticket.cantidad" ng-show="ticket.subtipo" min="0">
			</div>
		</div>
		<button id="anadirButton" class="btn btn-primary" ng-click="anadir(ticket)" ng-show="ticket.cantidad">Añadir</button>
		<button id="submitButton" class="btn btn-primary" ng-click="finalizar(socio)" ng-disabled="formularioDispensa.$invalid || listaProductos == ''">Finalizar</button>
	</form>
</div>